#left{	
	float: left;
	width: 30%;
	background:#254665;
	padding-bottom: 10000px;
	margin-bottom:-10000px;
	}
#lefttop{
	margin-left: 5%;
	margin-top: 20%;
	
}
#lefttop .information{
	margin-bottom: 10%;
}
#lefttop .information >div{
	font-size: 140%;
}

#skill{
	margin-left: 5%;
	margin-top: 20%;
}
#skill > div{
	font-size: 200%;
}

#skills{
	width: 90%;
	background-color: #00FFFF;
	margin: 5% 5%;
}



.circular{
  float: left;
  width: 40%;
  height: 40%;
  background: #ffffff;
  border-radius: 50%;
  border: 5px solid #4487c6;
  text-align: center;
  line-height: 100px; 
  margin: 20% 3%;
}

